In [1]:
# Azure DB connection

In [1]:
import os
from dotenv import load_dotenv
import pyodbc
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
import pandas as pd

In [2]:
# Load credentials
load_dotenv('.env')
AZ_user = os.environ.get('AZURE_DB_USER')
AZ_pass = os.environ.get('AZURE_DB_PASS')

In [3]:
# Azure DB connection params
driver = 'Driver={ODBC Driver 17 for SQL Server};'
server = 'Server=tcp:sqlironhack.database.windows.net,1433;'
database = 'Database=BiciMAD;'
uid = f'Uid={AZ_user};'
pwd = f'Pwd={AZ_pass};'
config = 'Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'

In [4]:
# connection string assembly

connection_string = driver+server+database+uid+pwd+config 
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})
connection_url

mssql+pyodbc://?odbc_connect=Driver%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BServer%3Dtcp%3Asqlironhack.database.windows.net%2C1433%3BDatabase%3DBiciMAD%3BUid%3Dazureuser%3BPwd%3DP%40%24%24w0rd123%3BEncrypt%3Dyes%3BTrustServerCertificate%3Dno%3BConnection+Timeout%3D30%3B

In [5]:
# SQL Engine => dialect+driver (https://docs.sqlalchemy.org/en/14/core/engines.html)

engine = create_engine(connection_url)
type(engine)

sqlalchemy.engine.base.Engine

In [6]:
# Pandas!!!

df_BiciMad = pd.read_sql_query("SELECT * FROM dbo.bicimad_stations", engine)
df_BiciMad.head()

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry_type,geometry_coordinates
0,1,Puerta del Sol A,2,1a,Puerta del Sol nº 1,1,0,30,15,11,0,Point,"[-3.7018341, 40.4172137]"
1,2,Puerta del Sol B,1,1b,Puerta del Sol nº 1,1,0,30,22,4,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,Miguel Moya,2,2,Calle Miguel Moya nº 1,1,0,24,12,11,0,Point,"[-3.7058415, 40.4205886]"
3,4,Plaza Conde Suchil,0,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,4,11,0,Point,"[-3.7069171, 40.4302937]"
4,5,Malasaña,2,4,Calle Manuela Malasaña nº 5,1,0,24,12,12,0,Point,"[-3.7025875, 40.4285524]"

In [8]:
df_BiciMad.to_csv('../data/BiciMad.csv', index=False)

In [11]:
df_BiciMad.shape[0]

264